<div class="container center-horizontal">
  <div class="row align-items-center">
    <div class="col-md-6 offset-md-3" >
        
        
        <div class="login">
          <div class="row">
            <div class="col-md-12">
              <div class="loginheader">LOGIN</div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <form>
                <div class="form-group">
                  <label for="username">Username</label>
                  <input type="text" class="form-control" name="username" id="username">
                </div>
                <div class="form-group">
                  <label for="password">Password</label>
                  <input type="password" class="form-control" name="password" id="password">
                </div>
              </form> 
            </div>
          </div>
          
          <div class="row pt-3">
            <div class="col-md-12 text-center">
              <button 
                [@goButtonHover]="goForm.goButtonHover" 
                (mouseenter)="goButtonHover('hover');" 
                (mouseleave)="goButtonHover('unhover');" 
                [@goState]="goForm.state" 
                (click)="goToggle(); clickPosition($event);"
                class="submitButton">
                  <span *ngIf="!goForm.goButtonText" [ngStyle]="{'top':goForm.goButtonBackgroundPositionY+'px', 'left':''+goForm.goButtonBackgroundPositionX+'px'}" [ngClass]="goForm.goButtonBackgroundExpanse"></span>
                  <span>
                    {{goForm.goButtonText}}
                  </span>
                  <i *ngIf="!goForm.goButtonText" class="fa fa-check"></i> 
              </button>
            </div>
          </div>


          <div class="row pt-5">
            <div class="col-md-12 text-center">
              <a href="" class="pass-forgot">Forgot your password?</a>
            </div>
          </div>
        </div>

        



      </div>
    </div>
  </div>

  <pre>{{goForm | json}}</pre>